<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}/logs/internal/log.txt"
      internalLogLevel="Error"
      throwExceptions="true">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <!--<extensions>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>-->

  <targets>
    <target xsi:type="File"
            name="file-debug"
            fileName="${basedir}/Logs/debug-${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${callsite} | ${message} ${newline}" />

    <target xsi:type="File"
              name="file-error"
              fileName="${basedir}/Logs/error-${shortdate}.log"
              layout="${longdate} | ${uppercase:${level}} | ${callsite} | ${message} ${newline}" />

    <!--<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
      <target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="" />
    </target>-->

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file-debug" />
    <logger name="*" minlevel="Error" writeTo="file-error" />

    <!--<logger name="*" minlevel="Info" writeTo="seq" />
    <logger name="*" minlevel="Error" writeTo="seq" />-->
  </rules>

</nlog>